.nav-link:hover::after{
	content: '';
	display: block;
	border-bottom: 3px solid #0B63DC; 
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
}

.jumbotron-head {
	color: white;
    background: #000 url("../Asset/bg-banner.png") center center;
    margin-top: 0%;
    padding-top: 10%;
    width: 100%;
    height: 700px;
    background-size: cover;
    overflow: hidden;
}

.box-trans{
	position: relative;
	width: 100%;
	height: 200%;
	margin-top: -20%;
	opacity: 0.6;
	z-index: 1;
	padding-top: 23%;
	background-color: black;
}

.box-mid{
	width: 30%;
}

.jumbotron-mid {
    position: relative;
    /*background: #000 url("../Asset/bg-banner.png") center center;*/
    text-align: center;
    background-color: white;
    font-family: arial;
    /*text-transform: uppercase;*/
    width: 80%;
    margin-left: 10%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.jumbotron-bot {
	font-family: arial;
	text-align: center;
	font-size: 8px;
	background-color: white;
	padding: 0px 45px 0px 45px ;
}

.card-three{
	text-align: center;
	border-radius: 20px;
	width: 10%;
	padding: 30px 25px 30px 25px;
}

.card-bgm{
	background-color: #61c7be;
}

.imgbg {
	filter: alpha(opacity=40);
	height: 100%;
	opacity: 0.4;
}

.justify-content-center{
	margin-top: -82px;
	width: 100%;
	background-color: white;
	padding-top: 2%;
	position: relative;
	z-index: 1;

    /*margin-left: 10%;*/
}

.btn-stl{
	margin-top: 2%;
	width: 100%;
}

.container-mnl{
	margin-left: 3%;
}

.container-mid{
	width: 70%;
}

.jumbotron-footer{
	/*margin-bottom: -20px;*/
	background-color: #bce7e4;	
	padding: 2% 5% 0px 17%;
	margin-bottom: -18px;
	width: 110%;
	margin-left: -2%;
}

.outline1{
	width: 8%;
	background-color: white;
}

.img-jumbo1{
	margin-top: -4%;
	margin-left: -3%;
	width: 2%;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
}

.img-jumbo2{
	margin-top: -4%;
	margin-left: 0%;
	width: 2%;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
}

.img-jumbo3{
	margin-top: -4%;
	margin-left: 3%;
	width: 2%;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
}

.img-jumbo4{
	margin-top: -4%;
	margin-left: 6%;
	width: 2%;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
}
.img-jumbo5{
	margin-top: -4%;
	margin-left: 9%;
	width: 2%;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
}

.img-jumbo6{
	margin-top: -4%;
	margin-left: 12%;
	width: 2%;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
}

.img-jumbo7{
	margin-top: -4%;
	margin-left: -6%;
	width: 2%;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
}

.img-jumbo8{
	margin-top: -4%;
	margin-left: -9%;
	width: 2%;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
}

.img-jumbo9{
	margin-top: -4%;
	margin-left: -12%;
	width: 2%;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
}

.img-jumbo10{
	margin-top: -4%;
	margin-left: -15%;
	width: 2%;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
}
.paragraf{
	font-size: 13px;
}

.rounded-circle{
	width: 12%;
}

.carousel{
	background-color: #8edcd5;
	width: 110%;
	margin-left: -2%;
}

.lead2{

	font-size: 20px;
}

.container{
	font-family: arial;
}